.about {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  width: 80%;
  gap: 20px;
  padding: 60px;
  box-shadow: 2px 2px 2px 2px rgb(189, 187, 187);
  border-radius: 20px;
  background-color: azure;

  h6 {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: #978599;
    font-style: oblique;
    font-size: 40px;
    font-family: "Sofia", sans-serif;
  }

  .image-card {
    flex-basis: 100%;
    padding: 40px 0px;
    background-color: transparent;
    border-radius: 25px;
  }
  img {
    display: block;
    width: 150px;
    border-radius: 55%;
  }
}

.about-content {
  padding-top: 30px;
  padding: 20px;
  text-align: left;
  line-height: 55px;
}
