.contact {
  display: flex;
  width: 80% !important;
  text-align: start;
  gap: 30px;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px 2px rgb(189, 187, 187);
  border-radius: 20px;
  padding: 0px 80px;
  background-color: azure;
}

.contact h2 {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: #978599;
  font-style: oblique;
  font-size: 40px;
  font-family: "Sofia", sans-serif;
  padding: 40px;
}

.input {
  box-shadow: 2px 2px gray;
  border: none;
  background-color: rgb(238, 237, 236);
}
.btn {
  background-color: rgb(131, 180, 180);
  width: 100px;
  margin: 20px 20px;
}

.message {
  padding: 3px;
  width: 100%;
  text-align: left;
  height: 5px;
}

.contact {
  width: 100%;
  gap: 5px;
  margin: 0px;
  padding: 0px 10px;
}
