/* Style for the main of the portfolio */

.projects-list {
  width: 80% !important;
  margin: auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 100px;
  box-shadow: 2px 2px 2px 2px rgb(189, 187, 187);
  border-radius: 20px;
  background-color: azure;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  gap: 20px;
  width: 400px;
  height: 250px;
  padding-top: 60px;
  border-radius: 5px;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.5);
}

.project-card a {
  text-decoration: none;
  border: none;
  color: black;
  font-size: 24px;
  font-weight: 900;
  background-color: transparent !important;
  filter: blur(1px);
  transition: filter 0.1s ease;
}
.project-card:hover {
  filter: brightness(105%);
  border: 2px solid black;
  border-color: rgba(255, 255, 255, 1);
}
.project-card a:hover {
  font-size: 28px;
  filter: none;
  color: rgb(8, 109, 192) !important;
  background-color: none;
  border: none;
}

.gitHub {
  display: inline-block;
  filter: blur(1px);
  transition: filter 0.1s ease;
}
.gitHub a:hover {
  filter: none;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 1400px) {
  .projects-list {
    width: 95% !important;
    padding: 60px;
    margin: 0px;
    padding: 60px;
  }

  .project-card {
    width: 100% !important;
    gap: 20px;
    padding: 4px;
  }
}
