.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  gap: 20px;
  width: 400px;
  height: 250px;
  /* background-color: rgb(194, 194, 73); */
  border-radius: 5px;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.5);
}

.project-card a {
  text-decoration: none;
  /* background-color: gray; */
  border: none;
  background-color: transparent !important;
  filter: blur(1px);
  transition: filter 0.1s ease;
}
.project-card a:hover {
  filter: none;
  background-color: none;
  border: none;
}

.gitHub {
  display: inline-block;
  filter: blur(1px);
  transition: filter 0.1s ease;
  /* text-decoration: none; */
  /* background-color: transparent; */
  /* border: none; */
}
.gitHub a:hover {
  filter: none;
  background-color: transparent;
  border: none;
}

/* Style for the main of the portfolio */

.projects-list {
  width: 80% !important;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 100px;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 20px;
}
