.resume {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80% !important;
  background-color: azure;
  padding: 60px;
  box-shadow: 2px 2px 2px 2px rgb(189, 187, 187);
  border-radius: 20px;
}

.front_end {
  width: 35%;
}

.back_end {
  width: 35%;
}

ul {
  padding: 15px;
  list-style-type: disc;
}

ul h2 {
  color: #978599;
  text-align: start;
  padding: 30px;
  font-weight: bolder;
  font-family: "Sofia", sans-serif;
  font-size: 32px;
}

li {
  padding: 15px;
  text-align: left;
}

.download_resume {
  text-align: start;
  width: 100%;
  padding: 30px;
}
.download_resume a:hover {
  background-color: rgb(203, 223, 223) !important;
  padding: 10px;
  border-radius: 25px;
}

@media screen and (max-width: 1400px) {
  .resume {
    width: 95% !important;
    gap: 5px;
    margin: 0px;
    padding: 4px;
  }
}
