.nav {
  display: flex;
  justify-content: start;
  max-width: 80%;
  margin: auto;
  gap: 80px;
  color: black;
  /* box-shadow: 0px 2px 2px 0px azure; */
  /* border-radius: 5px; */
  padding-bottom: 10px;
  padding-left: 30px !important;

  a {
    text-decoration: none;
    color: inherit;
    background-color: none;
    border: none;
    border-radius: 25px;
  }
}

a:hover {
  text-decoration: none;
  color: black !important;
  background-color: #e6e3d5 !important;
}
.activeTab {
  background-color: #cac6b4 !important;
  color: cadetblue !important ;
}

.developer {
  margin-right: 100px;
}
