.nav {
  display: flex;
  justify-content: start;
  width: 80% !important;
  margin: auto;
  gap: 80px;
  color: black;
  padding-left: 30px !important;

  a {
    text-decoration: none;
    color: inherit;
    background-color: none;
    border: none;
    border-radius: 25px;
  }
}

a:hover {
  text-decoration: none;
  color: black !important;
  background-color: #e6e3d5 !important;
}
.activeTab {
  background-color: #cac6b4 !important;
  color: cadetblue !important ;
}

.developer {
  margin-right: 100px;
  font-family: "Sofia", sans-serif;
  font-size: 28px;
  color: #978599 !important;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .nav {
    width: 100%;
    gap: 2px;
    padding: 0px !important;
  }

  .developer {
    margin: 0px;
  }
}
